<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if notice.present? %>
	  <p class="notice"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
	  <p class="alert"><%= alert %></p>
	<% end %>
	
	<div class="navbar">
		<span class="navbar-burger navbar-span">&#x2261;</span>
		<h1>Title</h1>
		<span class="navbar-dot navbar-span">&#x22ee;</span>
	</div>
	
	<div class="burgerbar">
		<%= link_to "Order Now", categories_path %>
	</div>
	
	<div class="footer">
		<h1>Checkout</h1>
		<h1 class="delete_order">Clear Order</h1>
		<h1>Total: $<%= get_total %></h1>
	</div>
	
    <%= yield %>
    
    <script type="text/javascript">
    	$(document).ready(function(){
    		$('.burgerbar').hide();
    		$('.navbar-burger').click(function(){
    			$('.burgerbar').slideToggle();
    		});
    		$(".notice, .alert").click(function() {
    			$(event.target).slideToggle();
    		});
		  	<% if cookies[:order].nil? %>
		  		location.href = '/order_cookies/new_order'
		  	<% end %>
		  	$('.delete_order').click(function() {
		  		location.href = '/order_cookies/delete_order'
		  	});
    	});
    </script>
  </body>
</html>
