<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  </head>

  <body>
  	<% if notice.present? %>
	  <p class="notice"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
	  <p class="alert"><%= alert %></p>
	<% end %>
	
	<div class="navbar">
		<span class="navbar-burger navbar-span click">&#x2261;</span>
		<h1><%= link_to "Sexy Eats", root_path %></h1>
		<span class="navbar-dot navbar-span click">&#x22ee;</span>
	</div>
	
	<div class="burgerbar">
		<%= link_to "Order Now", categories_path %>
	</div>

	<div class="sidebar">
		<% if cookies[:order].present? %>
			<% JSON.parse(cookies[:order]).each_with_index do |item, index| %>
				<% @item = Item.find_by name: item %>
				<div class= "sidebar-container">
					<h3><%= @item.name %></h3>
					<br />
					<%= number_to_currency(@item.price) %>
					<br />
					<%= content_tag(:h4, "Remove", class: "remove click", id: index ) %>
				</div>
				<br />
			<% end %>
		<% end %>
	</div>
	
	<% unless request.path == root_path %>
		<div class="footer">
			<h1>Checkout</h1>
			<h1 class="delete_order click">Clear Order</h1>
			<h1>Total: <%= get_total %></h1>
		</div>
	<% end %>
	
    <%= yield %>
    
  </body>
</html>
